<form action="/projects" id="new_project" method="post">
  <fieldset>
    <legend>New Project</legend>
    <div class="form-group">
      <label for="name">Project name</label>
      <input type="text" name="name" value="{{ name }}" id="name" placeholder="Project name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" id="description" cols="30" rows="5">{{ description }}</textarea>
    </div>
    <br>
    <button type="submit" class="btn btn_submit">Submit</button>
  </fieldset>
</form>
